:root {
  /* your palette */
  --j-bg: #101828;
  --j-accent: linear-gradient(to bottom,
      #000000,
      #615fff,
      #000000);

  --j-surface: #615fff;

  /* override Infima dark tokens */
  --ifm-color-primary: var(--j-accent);
  --ifm-background-color: var(--j-bg);
  --ifm-background-surface-color: var(--j-surface);
  --ifm-navbar-background-color: var(--j-bg);
  --ifm-footer-background-color: var(--j-bg);
  --ifm-menu-color-background-active: var(--j-surface);
  --ifm-code-background: var(--j-surface);
}

.footer {
  background-color: #101828;
  color: white;
}

.footer a {
  color: #101828;
}

.footer__copyright {
  background-color: #101828
}

.main-wrapper {
  background: linear-gradient(to bottom,
      #000000,
      #1b1718,
      #000000);
}


.container {
  background: color-mix(in oklab, #1b1718 80%, transparent);
}

.navbar {
  border-bottom: 1px solid #3f3f47;
}